* {
  color: red;
  background-color: black;
}

table, th, td {
  border: 1px solid white;
}

table {
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;
}

button {
  background-color: white;
}